.Project{
    z-index: 15;
    display: flex;
    position: relative;
    flex-wrap: wrap;


    .imgAlign{
        height: 300px;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0.5px 5px 18px #000000;
        width: 460px;
        margin: 25px 20px 0px 30px;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    .Project {
        overflow: scroll;
        display: flex;
        justify-content: center;
        height: 80vh;
    

    .imgAlign{
        height: 277px;
        width: 350px;
    }
}

}

@media only screen and (max-width: 768px) and (min-width: 320px)  {
    .Project {
        overflow: scroll;
        display: flex;
        justify-content: center;
        height: 80vh;
    

    .imgAlign{
        height: 200px;
        width: 280px;
    }
}

}

@media only screen and (max-width: 1440px) and (min-width: 1024px)  {
    .Project {
        height: 80vh;
        display: flex;
        justify-content: center;
    

    .imgAlign{
        height: 300px;
        width: 350px;
    }
}

}