.Project{
    z-index: 15;
    display: flex;
    position: relative;
    flex-wrap: wrap;

.mapAlign{

        
}

    .imgAlign{
        height: 300px;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0.5px 5px 18px #000000;
        width: 460px;
        margin: 25px 20px 0px 30px;
        opacity: 0;
        visibility: hidden;
    }

}
