.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;

    .skills-container{
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: #fff;
            font-size: 18px;
        }
    }

    .imgAlign{
        height: 150px;
        width: 160px;
        margin: 66px 45px 0 45px;
        background-size: cover;
        z-index: 15;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    .skills {
        overflow: scroll;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
    

    .imgAlign{
        margin: 25px 20px;
        height: 180px;
        width: 180px;
    }
}

}

@media only screen and (max-width: 768px) and (min-width: 320px)  {
    .skills {
        display: flex;
        justify-content: center;
        margin: 20px 20px;
        overflow: scroll;
        overflow-x: hidden;
    

    .imgAlign{
        height: 100px;
        width: 100px;
        margin: 20px 20px;
        background-size: cover;;
    }
}

}

@media only screen and (max-width: 1440px) and (min-width: 1024px)  {
    .skills {
        height: 80vh;
        display: flex;
        justify-content: center;
    

    .imgAlign{
        height: 150px;
        width: 150px;
        margin: 30px 20px;
    }
}

}