.Header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    z-index: 12;
  
    .left {
      position: relative;
      height: 100%;
      width: 150px;
      padding: 25px;
      letter-spacing: 3px;
      z-index: 12;
    }

    .mainNav {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 12;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
    .resume{
      margin: 0 10px 0 0;
      padding: 8px 30px;
      border: 3px solid white;
      border-radius: 10px;
      z-index: 20;
    }

  }
  