.experience{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 58;
    .experience-box{
        // display: grid;
        // grid-template-columns: 30% 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 420px;
        height: 620px;
        z-index: 58;
        border-radius: 10px;
        margin: 20px 50px;
        padding: 20px;
        font-family: cursive;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-family: 'Fuzzy Bubbles', cursive;
    }

    .experience-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 58;
        //background: #fff;
        border: 2px solid #fff;
        padding: 20px;
        border-radius: 10px;

        .experience-company-pic{
            height: 100px;
        }
    }

    .experience-content{
        z-index: 58;

    }
    .experience-description{
        display: flex;
    }

    .experience-duration{
        display: flex;
        justify-content: space-between;
    }
}


@media only screen and (max-width: 768px)  {
    .experience {
        font-family: 'Times New Roman', Times, serif;
        
        .experience-box {
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
           height: auto;
        }

        .experience-logo{
            min-width: 223px;
            .experience-company-pic{
                height: 50px;
            }
        }

        .experience-content{
            margin: 10px 0 0 0;
        }
}

}